body {
  font-family: 'Tomorrow', sans-serif;
}
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}